body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color:  #020122;
  opacity: 0,5;
  
  
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
h1{
  text-align: center;
  color: wheat;
}
ul
{
  width: 400px;
  height: 400px;
  border: 2px solid black;
  background-color:coral;
  margin-left: 420px;
  position: fixed;
  opacity: 0,2;
}
form
{
margin-top: 400px;
margin-left: 900px;
}
button
{
  background-color: #F6BD60;
  height: 30px;
}
input
{
  background-color:wheat;
  height: 40px;

}